spring:
  application:
    name: demo
  datasource:
    url: jdbc:postgresql://localhost:5432/CAT_DB
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: password
  jpa:
    show-sql: true
    hibernate:
      naming.physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      ddl-auto: update
